{% extends 'base.html.twig' %}

{% block title %}Edit ArtWorkCategory{% endblock %}

{% block body %}
    <h1>Edit ArtWorkCategory</h1>

    {{ include('art_work_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_art_work_category_index') }}">back to list</a>

    {{ include('art_work_category/_delete_form.html.twig') }}
{% endblock %}
