{% extends 'base.html.twig' %}

{% block title %}New ArtWorkCategory{% endblock %}

{% block body %}
    <h1>Create new ArtWorkCategory</h1>

    {{ include('art_work_category/_form.html.twig') }}

    <a href="{{ path('app_art_work_category_index') }}">back to list</a>
{% endblock %}
